.homemessage__main{
    padding-bottom: 6rem;
    padding-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.homemessage__header{
    padding-right: 6rem;
    padding-left: 6rem;
    border-left: 1px solid var(--color-accent);
}
.homemessage__section{
    text-align: justify;
    padding-right: 6rem;
    padding-left: 6rem;
    border-left: 1px solid var(--color-accent);
}

.homemessage__title{
    padding-bottom: 2rem;
}

@media (max-width: 786px) {
    .homemessage__main {
        grid-template-columns: 1fr;
        padding-top: 3rem;
        padding-bottom: 3rem;
      
    }
    .homemessage__header,
    .homemessage__section {
        padding-left: 2rem;
        padding-right: 2rem;
        border-left: none;
        text-align: justify;
    }
    .homemessage__title {
        padding-bottom: 1rem;
        text-align: center;
    }
}