.recentbook__main{
    width: 100%;
    margin-top: 6rem;
    padding-right: 6rem;
    padding-left: 1rem;
}
.recentbook__header h1 {
    color: var(--color-accent);
    font-size: 2rem;
    text-align: end;
    border-bottom: 1px solid var(--color-accent);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.02em;
}