.articles-catalog {
    margin-inline:  6rem;
    padding: 32px 16px;
}

.articles-catalog h1 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 2.2rem;
    padding-bottom: 0%;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    align-items: center;
}

.section-filter,
.tag-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.section-filter button,
.tag-filter button {
    background: #f5f5f5;
    border: none;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s, color 0.2s;
}

.section-filter button.active{
    background-color: var(--color-accent);
    color: #fff;
}
.tag-filter button.active {
    background: var(--color-accent2);
    color: #fff;
}

.articles-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.article-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    padding: 20px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-card h2 {
    padding: 0%;
    margin: 0%;
}

.article-card .date {
    font-size: 0.95rem;
    color: #888;
}

.article-card .description {
    font-size: 1rem; ;
    padding-bottom: 1rem;
}

.article-card .section {
    
    font-size: 0.95rem;
    width: 50%;
    border:1px solid var(--color-accent2);
    color: var(--color-accent);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
}

.article-card .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 0.5rem;
}

.article-card .tag {
    background: var(--color-accent);
    color: white;
    border-radius: 5px;
    
}

.article-card a {
    align-self: flex-start;
    color: var(--color-accent);
    text-decoration: none;
    margin-top: 4px;
    transition: color 0.2s;
}

.article-card a:hover {
    color: var(--color-accent2);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 32px 0 0 0;
}
