.contact__main {
    padding-bottom: 6rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.contact__side{
    border-left:1px solid var(--color-accent) ;
    padding-inline: 2rem;
}
.contact__header{
    margin-inline: 2rem;
}
.contact__header h1 {
    font-size: 2.2rem;
    margin-bottom: 16px;
    letter-spacing: 2px;
}
.contact__section{
    padding-right:6rem;
    text-align: justify;
}

