*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}


:root {
  --color-bg: rgba(255,255,255);
  --color-text: #5a5a5a;
  --color-muted: #6b7280;
  --color-accent: #ff5454;
  --color-accent2: #fd6b6b;

  [data-theme="dark"] {
  --color-bg: #0f172a;
  --color-text: #e5e7eb;
  --color-muted: #94a3b8;
  --color-border: #1e293b;
  --color-accent: #60a5fa;
}}

/* =========================
   GLOBAL ELEMENT STYLES
   ========================= */

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}   


p{
  font-size: larger;
  line-height: 2.5rem;
  font-weight: 300;
}
a {
  color: var(--color-accent);
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  display: block;
}