.header__container{
    width: 100;
    height: 50vh;
    align-content: center;
    padding: 6rem;

}

.title-header{
    padding-inline: 4rem;
    min-height:300px;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-size:2.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    
}