.header__container{
    width: 100;
    height: 50vh;
    align-content: center;
    padding: 6rem;
}

.title-header{
    padding-inline: 2rem;
    min-height:300px;
    align-content: center;
    color: var(--color-text);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 5px 15px 0px;
    font-size:2.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    
}